AtomPair  NE2  56  ZN  89 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  68  ZN  89 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  NE2  252  ZN  89 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  201  ZN  89 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  NE2  145  ZN  178 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  157  ZN  178 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  NE2  74  ZN  178 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  23  ZN  178 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  NE2  234  ZN  267 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  246  ZN  267 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  NE2  163  ZN  267 BOUNDED 1.9 2.3 0.2 zinc_coordination
AtomPair  OD1  112  ZN  267 BOUNDED 1.9 2.3 0.2 zinc_coordination
Angle  CE1  56  NE2  56  ZN  89 CIRCULARHARMONIC 2.181 0.2
Angle  CG  68  OD1  68  ZN  89 CIRCULARHARMONIC 2.181 0.2
Angle  CE1  252  NE2  252  ZN  89 CIRCULARHARMONIC 2.181 0.2
Angle  CG  201  OD1  201  ZN  89 CIRCULARHARMONIC 2.181 0.2
Angle  CE1  145  NE2  145  ZN  178 CIRCULARHARMONIC 2.181 0.2
Angle  CG  157  OD1  157  ZN  178 CIRCULARHARMONIC 2.181 0.2
Angle  CE1  74  NE2  74  ZN  178 CIRCULARHARMONIC 2.181 0.2
Angle  CG  23  OD1  23  ZN  178 CIRCULARHARMONIC 2.181 0.2
Angle  CE1  234  NE2  234  ZN  267 CIRCULARHARMONIC 2.181 0.2
Angle  CG  246  OD1  246  ZN  267 CIRCULARHARMONIC 2.181 0.2
Angle  CE1  163  NE2  163  ZN  267 CIRCULARHARMONIC 2.181 0.2
Angle  CG  112  OD1  112  ZN  267 CIRCULARHARMONIC 2.181 0.2
Angle  NE2  56  ZN  89  OD1  68 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  252  ZN  89  OD1  201 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  56  ZN  89  NE2  252 CIRCULARHARMONIC 1.911 0.2
Angle  OD1  68  ZN  89  OD1  201 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  145  ZN  178  OD1  157 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  74  ZN  178  OD1  23 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  145  ZN  178  NE2  74 CIRCULARHARMONIC 1.911 0.2
Angle  OD1  157  ZN  178  OD1  23 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  234  ZN  267  OD1  246 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  163  ZN  267  OD1  112 CIRCULARHARMONIC 1.911 0.2
Angle  NE2  234  ZN  267  NE2  163 CIRCULARHARMONIC 1.911 0.2
Angle  OD1  246  ZN  267  OD1  112 CIRCULARHARMONIC 1.911 0.2
Dihedral  ND1  56  CE1  56  NE2  56  ZN  89 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  68  CG  68  OD1  68  ZN  89 CIRCULARHARMONIC 3.141 0.3
Dihedral  ND1  252  CE1  252  NE2  252  ZN  89 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  201  CG  201  OD1  201  ZN  89 CIRCULARHARMONIC 3.141 0.3
Dihedral  ND1  145  CE1  145  NE2  145  ZN  178 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  157  CG  157  OD1  157  ZN  178 CIRCULARHARMONIC 3.141 0.3
Dihedral  ND1  74  CE1  74  NE2  74  ZN  178 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  23  CG  23  OD1  23  ZN  178 CIRCULARHARMONIC 3.141 0.3
Dihedral  ND1  234  CE1  234  NE2  234  ZN  267 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  246  CG  246  OD1  246  ZN  267 CIRCULARHARMONIC 3.141 0.3
Dihedral  ND1  163  CE1  163  NE2  163  ZN  267 CIRCULARHARMONIC 3.141 0.2
Dihedral  CB  112  CG  112  OD1  112  ZN  267 CIRCULARHARMONIC 3.141 0.3